/*section {*/
/*    position: relative;*/
/*    width: 100%;*/
/*}*/

section.home-portfolio {
    position: relative;
    z-index: 3;
    padding-top: 60px;
}

@media (min-width: 768px) and (min-height: 620px), (min-width: 1280px) {
    section.home-portfolio {
        padding-top: 135px;
    }
}

@media (min-width: 768px) and (min-height: 620px), (min-width: 1280px) {
    section.home-portfolio {
        padding-top: 140px;
    }
}

.wrapper-portfolio {
    width: 100%;
    padding: 0 14px;
}

@media (min-width: 1280px) {
    .wrapper-portfolio {
        position: relative;
        padding: 0 40px;
    }
}

@media (min-width: 1480px) {
    .wrapper-portfolio {
        max-width: 1480px;
        margin: 0 auto;
    }
}

section.home-portfolio .list {
    margin-top: 70px;
}

@media (min-width: 768px) and (min-height: 620px), (min-width: 1280px) {
    section.home-portfolio .list {
        margin-top: 130px;
    }
}

@media (min-width: 660px) {
    section.home-portfolio .list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 123px -7px -7px -7px;
    }
}

@media (min-width: 768px) and (min-height: 620px), (min-width: 1280px) {
    section.home-portfolio .list {
        margin: 110px -15px -15px -15px;
    }
}

@media (min-width: 1280px) {
    section.home-portfolio .list {
        margin: 95px -30px -30px -30px;
    }
}

@media (min-width: 660px) {
    section.home-portfolio .list .list-item-portfolio {
        margin: 7px;
        width: calc(50% - 14px);
    }
}

@media (min-width: 768px) and (min-height: 620px), (min-width: 1280px) {
    section.home-portfolio .list .list-item-portfolio {
        margin: 15px;
        width: calc(50% - 30px);
    }
}

@media (min-width: 1280px) {
    section.home-portfolio .list .list-item-portfolio {
        margin: 30px;
        width: calc(50% - 60px);
    }
}

section.home-portfolio .list .list-item-portfolio+.list-item-portfolio {
    margin-top: 30px;
}

@media (min-width: 660px) {
    section.home-portfolio .list .list-item-portfolio+.list-item-portfolio {
        margin-top: 7px;
    }
}

@media (min-width: 768px) and (min-height: 620px), (min-width: 1280px) {
    section.home-portfolio .list .list-item-portfolio+.list-item-portfolio {
        margin-top: 15px;
    }
}

@media (min-width: 1280px) {
    section.home-portfolio .list .list-item-portfolio+.list-item-portfolio {
        margin-top: 30px;
    }
}

section.home-portfolio .list .list-item-portfolio img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    z-index: 0;
    pointer-events: none;
}










