* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*img {*/
/*    display: block;*/
/*    margin: 0 auto;*/
/*    width: 98%;*/
/*    filter: drop-shadow(24px 24px 20px #f7f7f7);*/
/*}*/






